<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center">회원목록</h1>
    <ul style="list-style:none;width: 400px;margin:20px auto">
        <%
            for(let i = 0; i < members.length; i++){
                let username = members[i].name;
                let userage = members[i].age;
        %>
        <li style="border-bottom:1px dashed #ddd;padding:8px 10px">
            <label 
                style="
                    display:inline-block;
                    padding-right:20px;
                    width:80;
                    background:#ededed;
                    margin-right: 10px">
                이름
            </label>
            <%=username%> (<%=userage%>세)
        </li>
        <% } %>
    </ul>
</body>
</html>