*{box-sizing: border-box;}
body{
    width: 760px;
    margin: 0;
}
.idpassword{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.text_box{
    width: 160px;
    height: 860px;
    background-color: gray;
    position: absolute;
}
.text{
    font-weight: bold;
    text-align: right;
}
.input_box{
    width: 600px;
    height: 860px;
    background-color: rgb(170, 170, 170);
    position: absolute;
    display: inline-block;
    left: 160px;
}
div input{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 53px;
    margin-left: 20px;
}
.phone{
    width: 50px;
    /* display: inline-block; */
}
.button{
    /* margin-top: 0; */
}