*{box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
.container{
    width: 1365px;
    margin-left: auto;
    margin-right: auto;
}

/**** header ****/
header{
    height: 120px;
    width: 100%;
}
.logo{
    width: 270px;
    height: 120px;
    background-color: red;
    padding-top: 27.5px;
    text-align: center;
    float: left;
}
nav{
    width: 1095px;
    float: left;
}
.top-nav{
    height: 30px;
    background-color: #000;
    padding-left: 16px;
    padding-right: 35px;
}
.top-nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.top-nav i.fa-phone{
    margin-right: 30px;
}
a.sns{
    display: inline-block;
    width: 15px;
    height: 15px;
    float: right;
    margin-top: 7px;
    margin-left: 30px;
    background-image: url(../images/sns.png);
    background-repeat: no-repeat;
}
.insta{
    background-position: -84px 0;
}
.kakao{
    background-position: 38px 0;
}
ul.gnb{
    list-style-type: none;
    height: 90px;
    margin: 0;
    padding: 0;
}
ul.gnb li{
    float: right;
}
ul.gnb li>a.active, ul.gnb li>a:hover{
    color: #fb0000;
}
ul.gnb li>a{
    display: block;
    height: 90px;
    line-height: 90px;
    padding-left: 45px;
    padding-right: 45px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
ul.gnb li:first-child>a{
    padding-right: 0;
    width: 90px;
    background-color: #FB0000;
    color: #fff;
    font-size: 30px;
}