*{box-sizing: border-box;}
body{
    background-color: #fff;
    color: #222328;
    position: relative;
}
.container{
    width: 1200px;
    height: 700px;
    /* background-color: darkcyan; */
    margin-left: auto;
    margin-right: auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #222328
}
.z-index-1{
    position: relative;
    z-index: 1;
}
.z-index-2{
    position: relative;
    z-index: 2;
}
.z-index-3{
    position: relative;
    z-index: 3;
}

/* header */
header{
    display: flex;
    width: 100%;
    height: 100px;
    /* background-color: darkgray; */
    justify-content: space-between;
    align-content: center;
}
.logo{
    width: 20%;
    display: block;
    text-align: center;
}
.logo img{
    margin-top: 30px;
}
nav{
    width: 50%;
    margin-right: 5%;
    margin: 30px 0;
}
.gnb{
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    display: flex;
}
.gnb li{
    width: 25%;
    border-right: 1px solid #000;
}
.gnb li:last-child{
    border-right: none;
}
.gnb li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
nav:hover .lnb{
    display: block;
}
ul.gnb>li:hover a{
    background-color: #222328;
    color: #fff;
}
.lnb{
    width: 100%;
    border: 1px solid #000;
    border-top: none;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
}
.lnb>li>ul{
    width: 100%;
    display: flex;
    text-align: center;
}
.lnb>li>ul>li{
    width: 25%;
}
.lnb>li>ul>li>a{
    display: block;
    padding-top: 10px;
    width: 100%;
    height: 40px;
}
.lnb li a:hover{
    background-color: #222328;
    color: #fff;
}
/* /header */

/* slide */
div.slide{
    height: 300px;
    overflow: hidden;
}
.images{
    display: flex;
    flex-direction: column;
    position: relative;
}
.images>img{
    display: block;
}


/* section first */
section{
    display: flex;
    width: 100%;
    height: 200px;
    /* background-color: darkgreen; */
}
.section{
    width: calc(100% / 3);
    height: 100%;
    padding-top: 10px;
}
.section .sec-header{
    display: flex;
    margin-left: 10px;
    height: 20%;
    text-align: center;
}
.notice-tab, .gallery-tab{
    width: 30%;
    height: 100%;
    padding-top: 10px;
    border: 1px solid #000;
    border-bottom: none;
    font-weight: bold;
    background-color: #afafaf;
    margin-top: 1px;
}
.gallery-tab{
    border-left: none;
}
.contents, .gallery{
    margin: 0 10px;
    padding: 10px 30px;
    padding-right: 10px;
    border: 1px solid #000;
}
.contents li{
    padding-left: 10px;
    list-style-type: circle;
    font-size: 15px;
}
.active{
    background-color: #fff;
    color: #222328;
}
.gallery{
    display: flex;
    overflow: hidden;
    height: 142px;
    justify-content: space-between;
    padding: 11px 20px;
}
.gallery img{
    display: block;
    width: 100px;
    height: 100px;
    align-self: center;
}
/* section second */
.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkgreen;
}
.second a{
    display: block;
    align-self: center;
    width: 50%;
    height: 25%;
    margin: 10px 0;
    background: url(../images/example.jpg) no-repeat;
}
.second a:nth-child(1){
    background-size: 120%;
    background-position: -15px -10px;
}
.second a:nth-child(2){
    background-size: 120%;
    background-position: -15px -120px;
}
.second a:nth-child(3){
    background-size: 120%;
    background-position: -15px -177px;
}

/* popup */
.background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}
.window{
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin: 100px auto;
}
.popup{
    padding: 70px 20px;
}
.popup button{
    display: block;
    margin: 10px auto;
}