.contact{
    display: flex;
    max-width: 1500px;
    margin: 10% auto;
}
.contactBox{
    flex: 6;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactBox h2{
    width: 200px;
    text-align: center;
    border-top: 3px double #333;
    border-bottom: 3px double #333;
    margin-bottom: 40px;
}
.sidebarInContact{
    max-width: 500px;
}
.contactMain{
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 450px;
    align-items: flex-end;
}
.contactMain>div{
    margin: 10px;
}
.contactMain>div input{
    border-radius: 10px;
}
.contactMain .contactEmail{
    height: 50px;
    width: 300px;
}
.contactMain .contactMessage{
    height: 300px;
    width: 300px;

}
.contactMain label{
    margin-right: 20px;
}
.contactBox button{
    margin: 10px;
    padding: 15px 40px;
    width: 150px;
    font-size: 30px;
    color: #fff;
    border: none;
    background-color: rgb(86, 163, 163);
    border-radius: 10px;
    margin-left: 20px;
}
.contactBox button:hover{
    background-color: rgb(57, 112, 112);

}