{% extends 'layout.html' %}
{% block content %}
{% if user and user.id %}
<!-- 글쓰기 -->
<from id="writeForm" action="/post" method="post" enctype="multipart/form-data" class="input-form mt-5 border-1">
    <div class="p-4 bg-warning">
        <textarea class="form-control" rows="5" name="content" maxlength="200"></textarea>
    </div>
    <div class="p-4 bg-warning">
        <div class="row">
            <div class="col">
                <img src="" id="img-preview" style="display:none" width="250" alt="미리보기">
                <input id="img-url" type="hidden" name="url"/></div><br />
                <input id="img-url" type="file" accept="image/*" value="업로드" />
            </div>
            <div class="col text-end">
                <button type="submit" class="btn btn-secondary">등록</button>
            </div>
        </div>
    </div>
</from>
<!-- /글쓰기 -->
{% endif %}
<!-- 검색 -->
<div class="row justify-content-end mt-5">
    <div class="col-4">
        <form name="search" action="/hashtag">
            <div class="input-group">
                <input type="search" name="hashtag" class="form-control" placeholder="search">
                <button class="btn btn-secondary">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- 검색 -->
<ul class="list-group mt-3">
    {% for list in lists %}
    <li class="list-group-item p-4">
        <input type="hidden" value="{{list.Member.id}}" class="umid">
        <input type="hidden" value="{{list.id}}" class="uid">
        <div class="sns-author">{{list.Member.nick}}</div>
        {% if not followerIdList.includes(list.Member.id) and list.Member.id !== user.id %}
        <button class="btn btn-warning">팔로우하기</button>
        {% endif %}
        {% if list.img %}
        <img src="{{list.img}}" class="img-thumbnail d-block my-3 mx-auto" alt="섬네일">
        {% endif %}
        <p class="sns-content">{{list.content}}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}